/* Побег из Шоушенка, 1*/
#mark1poisk{
  width: 9,1%;
}
#mark1imdb{
  width: 9,3%;
}
/*Форрест Гамп, 2*/
#mark2poisk{
  width: 8,9%;
}
#mark2imdb{
  width: 8,8%;
}
/* 1+1, 3*/
#mark3poisk{
  width: 8,8%;
}
#mark3imdb{
  width: 8,5%;
}
/* Иван Васильевич меняет профессию, 4*/
#mark4poisk{
  width: 8,8%;
}
#mark4imdb{
  width: 8,4%;
}
/* Винни Пух, 5*/
#mark5poisk{
  width: 8,8%;
}
#mark5imdb{
  width: 8,3%;
}
/*Ну погоди 6*/
#mark6poisk{
  width: 8,7%;
}
#mark6imdb{
  width: 8,6%;
}
/* Начало, 7*/
#mark7poisk{
  width: 8,7%;
}
#mark7imdb{
  width: 8,8%;
}
/* Властелин Колец, 8*/
#mark8poisk{
  width: 8,6%;
}
#mark8imdb{
  width: 8,8%;
}
/* Интерстеллар, 9*/
#mark9poisk{
  width: 8,6%;
}
#mark9imdb{
  width: 8,6%;
}
/* В джазе только девушки, 10*/
#mark10poisk{
  width: 8,5%;
}
#mark10imdb{
  width: 8,2%;
}
/* Бриллиантовая рука, 11*/
#mark11poisk{
  width: 8,5%;
}
#mark11imdb{
  width: 8,4%;
}
/* А зори здесь тихие, 12*/
#mark12poisk{
  width: 8,5%;
}
#mark12imdb{
  width: 8,2%;
}
/* Эта замечательная жизнь, 13*/
#mark13poisk{
  width: 8,4%;
}
#mark13imdb{
  width: 8,6%;
}
/* Москва слезам не верит, 14*/
#mark14poisk{
  width: 8,4%;
}
#mark14imdb{
  width: 8,1%;
}
/* Титаник, 15*/
#mark15poisk{
  width: 8,4%;
}
#mark15imdb{
  width: 7,8%;
}
/* Собачье сердце, 16*/
#mark16poisk{
  width: 8,3%;
}
#mark16imdb{
  width: 8,7%;
}
/* Любовь и голуби, 17*/
#mark17poisk{
  width: 8,3%;
}
#mark17imdb{
  width: 8,0%;
}
/* Хатико, 18*/
#mark18poisk{
  width: 8,3%;
}
#mark18imdb{
  width: 8,1%;
}
/* Леди и бродяга, 19*/
#mark19poisk{
  width: 8,2%;
}
#mark19imdb{
  width: 7,3%;
}
/* Бременские музыканты, 20*/
#mark20poisk{
  width: 8,2%;
}
#mark20imdb{
  width: 8,1%;
}



/* Ирония судьбы, 21*/
#mark21poisk{
  width: 82%;
}
#mark21imdb{
  width: 81%;
}
/* Один дома, 22*/
#mark22poisk{
  width: 82%;
}
#mark22imdb{
  width: 76%;
}
/* Гарри и камень, 23*/
#mark23poisk{
  width: 82%;
}
#mark23imdb{
  width: 76%;
}
/* Завтрак у Тиффани, 24*/
#mark24poisk{
  width:81%;
}
#mark24imdb{
  width:76%;
}
/* Касабланка, 25*/
#mark25poisk{
  width:80%;
}
#mark25imdb{
  width:85%;
}
/* 12 месяцев, 26*/
#mark26poisk{
  width:80%;
}
#mark26imdb{
  width:76%;
}
/* Экипаж, 27*/
#mark27poisk{
  width:76%;
}
#mark27imdb{
  width:67%;
}
/* Гордость и предубеждение, 28*/
#mark28poisk{
  width:80%;
}
#mark28imdb{
  width:78%;
}
/* Джокер, 29*/
#mark29poisk{
  width:80%;
}
#mark29imdb{
  width:84%;
}
/* Вокзал для двоих, 30*/
#mark30poisk{
  width:79%;
}
#mark30imdb{
  width:79%;
}
/* Красотка, 31*/
#mark31poisk{
  width:65%;
}
#mark31imdb{
  width:55%;
}
/* Аватар, 32*/
#mark32poisk{
  width:79%;
}
#mark32imdb{
  width:78%;
}
/* Старик Хоттабыч, 33*/
#mark33poisk{
  width:78%;
}
#mark33imdb{
  width:72%;
}
/* Приключения Буратино, 34*/
#mark34poisk{
  width:77%;
}
#mark34imdb{
  width:74%;
}
/* Бегущий по лезвию, 35*/
#mark35poisk{
  width:77%;
}
#mark35imdb{
  width:81%;
}
/* Гроздья гнева, 36*/
#mark36poisk{
  width:76%;
}
#mark36imdb{
  width:80%;
}
/* Мстители. Финал, 37*/
#mark37poisk{
  width:76%;
}
#mark37imdb{
  width:84%;
}
/* Бэтмен, 38*/
#mark38poisk{
  width:75%;
}
#mark38imdb{
  width:75%;
}
/* Кубанские казаки, 39*/
#mark39poisk{
  width:74%;
}
#mark39imdb{
  width:66%;
}
/* Бэмби, 40*/
#mark40poisk{
  width:81%;
}
#mark40imdb{
  width:73%;
}
